body{
    background-image: url("../images/light_grey_floral_motif.png");
}

header{
    font-size: 3rem;
    font-family: 'Righteous', cursive;
    margin: auto;
}

img{
    margin: 2px;
}

form h5{
    margin-right: 5px;
}

.athlete-btn{
    margin: 10px;
}

#subtitle{
    font-style: italic;
    margin: auto;
    text-align: center;    
}

#topics{
    margin: 10px;
}

p{
    font-weight: 500;
    margin: auto;
    text-align: center;
    padding-bottom: 5px;
}
